@use "../../styles/variables.scss";
.green-button {
  background-color: variables.$color-green;
  display: flex;
  align-items: center;
  width: 10rem;
  padding: 0.5rem 1rem;
  margin-top: 2.5rem;
  font-size: variables.$font-size-6;
  color: variables.$color-white;
  justify-content: space-between;
  border-radius: variables.$radius;
  border: 1px solid transparent;
  transition: 0.4s ease;

  &:hover {
    background-color: variables.$color-white;
    border: 1px solid variables.$color-green;
    color: variables.$color-green;
  }
}
