@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");

$font-main: "Crete Round", serif;

$breakpoint-responsive: 425px;

$font-size-1: 270px;
$font-size-2: 190px;
$font-size-3: 45px;
$font-size-4: 35px;
$font-size-5: 30px;
$font-size-6: 25px;
$font-size-7: 20px;
$font-size-8: 16px;
$font-size-9: 17px;

$color-green: #4e6c4a;
$color-black: #121111;
$color-white: #ffffff;
$color-gray: #8e8e8e;
$color-gray-2: #ebefe8;
$color-gray-3: #747474;
