@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");

$font-main: "Crete Round", serif;

$breakpoint-responsive: 425px;
$breakpoint-responsive-2: 888px;
$breakpoint-responsive-3: 700px;

$font-size-1: 16.875rem;
$font-size-2: 11.875rem;
$font-size-3: 2.813rem;
$font-size-4: 2.188rem;
$font-size-5: 1.875rem;
$font-size-6: 1.563rem;
$font-size-7: 1.25rem;
$font-size-8: 1rem;
$font-size-9: 1.063rem;
$font-size-10: 5.625rem;
$font-size-11: 8.125rem;

$radius: 5px;

$color-green: #4e6c4a;
$color-green-2: #559a4c;
$color-black: #121111;
$color-white: #ffffff;
$color-gray: #8e8e8e;
$color-gray-2: #ebefe8;
$color-gray-3: #747474;
