@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

#container-register-contents {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 2rem 0.5rem;
  gap: 2rem;

  .container-sign-up-infos {
    @include mixins.center;
    flex-direction: column;

    p:first-child {
      color: variables.$color-white;
      font-weight: normal;
      font-size: variables.$font-size-10;

      @media (min-width: variables.$breakpoint-responsive) {
        font-size: variables.$font-size-11;
      }
    }

    p {
      color: variables.$color-white;
      font-weight: normal;
      font-size: variables.$font-size-8;
      align-self: center;
    }
  }

  .container-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      margin-bottom: 0;
      font-size: variables.$font-size-6;
      color: variables.$color-white;
      font-weight: normal;
    }

    textarea {
      background: variables.$color-white;
      margin-bottom: 0.5rem;
      height: 8rem;
      resize: none;

      &::placeholder {
        color: variables.$color-gray;
        font-size: variables.$font-size-7;
      }

      &:focus-visible {
        border-color: variables.$color-green;
        z-index: 1;
        box-shadow: 0 0 0 1px variables.$color-green;
      }
    }

    .input-container {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        padding: 1.5rem 0.5rem;
        background: variables.$color-white;
        margin-bottom: 1.2rem;
        border: 2px solid transparent;

        &::placeholder {
          color: variables.$color-gray;
          font-size: variables.$font-size-7;
        }

        &:focus-visible {
          border-color: variables.$color-green;
          z-index: 1;
          box-shadow: 0 0 0 1px variables.$color-green;
        }
      }
    }

    .link-to-register {
      color: variables.$color-white;
      font-weight: normal;
      font-size: variables.$font-size-8;
      margin-top: 1.5rem;

      a {
        color: variables.$color-green-2;
      }
    }

    .container-state-city {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      align-items: center;

      div {
        width: 100%;
      }
    }
  }
}

@media (min-width: variables.$breakpoint-responsive-3) {
  #container-register-contents {
    flex-direction: row;
    margin-top: 3rem;
    justify-content: center;
    gap: 4rem;
    align-items: flex-start;
    padding: 5rem 1rem;

    .container-sign-up-infos {
      align-items: flex-start;

      p:first-child {
        white-space: nowrap;
      }
    }

    .container-form {
      width: 18rem;
    }
  }
}

@media (min-width: variables.$breakpoint-responsive-2) {
  #container-register-contents {
    gap: 4rem;
    .container-sign-up-infos {
      padding: 1rem;
      p:first-child {
        font-size: variables.$font-size-2;
      }
    }

    .container-form {
      width: 30rem;
    }
  }
}
