@use "../../styles/variables.scss";
@use "../../styles/mixins.scss";

#container-main-content {
  //   border: 1px solid white;
  height: auto;
  @include mixins.center;
  flex-direction: column;
  margin-top: 7rem;
  gap: 1rem;

  h1 {
    color: variables.$color-white;
    font-weight: normal;
    font-size: variables.$font-size-10;
  }

  p {
    width: 20rem;
    text-align: center;
    font-size: variables.$font-size-8;
    color: variables.$color-white;
    font-weight: normal;
  }

  @media (min-width: variables.$breakpoint-responsive) {
    h1 {
      font-size: variables.$font-size-11;
    }
  }

  @media (min-width: variables.$breakpoint-responsive-2) {
    h1 {
      font-size: variables.$font-size-1;
    }

    p {
      font-size: variables.$font-size-7;
    }

    margin-top: 1rem;
    gap: 0;
  }
}
